.postField {
    background-color: #ebebeb;
    border: 1px solid rgb(105, 105, 105);
    margin: auto;
    padding: 5px 15px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 5px 5px black;
    width: 55%;
    margin-bottom: 10px;
}